#wrapper{overflow: hidden}
body{
     color:#555;
     font-family: 'Muli', sans-serif;
     line-height: 24px;
     font-size:14px;
     overflow-x: hidden}
.footer-cus {
  background-color: #f2f2f2;
  padding: 25px}
._s_{background: url('../images/sprite.png') no-repeat}
.nav-cus{
    margin: 20px auto;
    border-radius: 0;
    background: none;
    border: 0}
.nav-cus .navbar-toggle {
    border:0}
/*#footer_rt_modal{background: #fff; width: 200px; height: 200px; top:150px; left:45%;}*/
#footer_rt_modal button.close {
    position: absolute;
    top: -12px;
    right: -12px;
    background: #000;
    opacity: inherit;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: #fff;
    font-size: 42px;
    font-weight: 300;
    line-height: 21px;
}

#footer_rt_modal .close {
    cursor: pointer;
}
#footer_rt_modal .modal-content {
    background: #fdfdfd url(https://cdn.elawoman.com/static/assets/desktop-new/images/colored-line.png);
    background-size: 100%;
    border: none;
    background-repeat: no-repeat;
    padding: 20px 20px 0;
}
#footer_rt_modal .modal-sm {
    min-width: 500px;
}
#footer_rt_modal h4 {
    color: #05a8d1;
    font-size: 20px;
    text-align: center;
    font-weight: 400;
}
.certificates_content {
    text-align: center;
    font-size: 13px;
    margin-top: 25px;
}
.certificate_btn {
    text-align: center;
    margin-top: 20px;
    border-bottom: 1px solid #05a8d1;
    padding-bottom: 20px;
}
.certificate_last_line {
    text-align: center;
    margin-top: 20px;
    font-weight: 500;
}
.certificate_last_line span {
    font-size: 18px;
    font-weight: 600;
}
.certificate_btn button {
    background: no-repeat;
    border: none;
    color:#333;
}
.nav-cus .navbar-toggle .icon-bar {
    background-color: #05a8d1}
.text-blue, .text-blue:link, .text-blue:hover{color:#05a8d1; text-decoration: none}
.nav-cus .nav{margin-left:30px}
.nav-cus .navbar-brand{padding:10px 15px}
.lh_hlf{line-height: 1.3em}
.f_hlf{font-size: 2.5em}
.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mt20{margin-top:20px}
.mt30{margin-top:30px}
.mt50{margin-top:50px}
.ptb10{padding:10px 0}
.pb15{padding-bottom: 15px}
.ptb15{padding:15px 0}
.ptb20{padding:20px 0}
.ptb30{padding:30px 0}
.ptb50{padding:50px 0}
.p0{padding:0}
.pr0{padding-right:0}
.pl0{padding-left:0}
.pl5{padding-left:5px}
.display-flex{display:flex}
.nav-cus .nav li.active a, .nav-cus .nav li.active a:hover{font-weight: 600; background: none}
.nav-cus .nav li a{padding: 15px 25px}
.nav-cus .navbar-right li a{padding: 15px 10px}
.nav-cus .navbar-right li a.no_upd{color:#05a8d1; display: flex}
.nav-cus .navbar-right li a.em_link{background: :#05a8d1;
padding:2px 5px; font-size: 0.95em; color:#fff}
.banner{
   background: url(../images/bg_ban.jpg) no-repeat 0 0;
    color: #fff;
    overflow: hidden;
    max-height: 360px}
.banner h1{line-height: 44px;text-shadow: 2px 3px 5px #333}
.grey_list ul li:before , .banner ul li:before{content: ''; display: inline-block; padding-right: 30px;
background: url('../images/sprite.png') no-repeat -475px -107px; width:20px; height: 20px}
.blu_list li:before{content: ''; display: inline-block; padding-right: 30px;
background: url('../images/sprite.png') no-repeat -385px -107px; width:20px; height: 20px}
.bla_list li:before{content: ''; display: inline-block; padding-right: 30px;
background: url('../images/sprite.png') no-repeat -435px -107px; width:20px; height: 20px}
.whit_list li:before{content: ''; display: inline-block; padding-right: 30px;
background: url('../images/sprite.png') no-repeat -473px -107px; width:20px; height: 20px}
.grey_list, .blu_list, .bla_list, .whit_list{list-style: none; padding-left:0}
.grey_list li, .blu_list li, .bla_list li, .whit_list li{padding-left:0; display: flex; line-height: 1.9em}
.banner ul li{line-height: 34px; font-size:18px;text-shadow: 3px 3px 3px #333; list-style: none}
.banner .col-md-8{padding-top:50px}
.form_con h2{font-size: 1.2em; line-height: 28px;font-weight: 600}
.form_con{background: rgba(0,173,239,0.9); height: 100vh}
.form_con input[type="text"]{
    box-shadow: none;
    width: 100%;
    height: 45px;
    border: none}
ul li{list-style: none}
.text-bold, h1, h2, h3, h4, h5, h6{font-weight:600}
.select_drop{border-radius: 4px 0 0 4px; border:none; background: #cdeef6; color:#83959a; padding:4px; font-size: 0.9em}
.input_inline{border-radius:0 4px 4px 0; border:none}
.white_btn:focus{outline:0; border:none}
.white_btn{background: #fff; border-radius: 4px;
    border: none; color: #05a8d1; text-transform: uppercase; padding: 15px; width: 100%;
    display: block; text-align: center; font-size: 0.9em}
.f12{font-size: 12px}
.f16{font-size: 16px}
.op{opacity: 0.6}
.emi-con label{margin-bottom: 0}
.footer-banner-form .form-ty{margin:150px 0 40px}
#form-ty-tp{color:#555; min-height: 220px;}
#form-ty-tp a{color:#337ab7;}
.form-ty{margin:40px 0 40px; text-align: center; min-height: 400px;display: none; color:#fff;}
.form-ty h6{font-size: 36px; text-align: center;padding: 20px 0;}
.form-ty p{font-size: 16px; margin-bottom: 10px}
.form-ty .no, .form-ty .no:link, .form-ty .no:hover{color:#fff; text-decoration: none; font-weight: 600; font-size:20px; display: block;}

h3{font-weight: 600; font-size: 36px}
.box_link, .nav-cus .navbar-right li a.box_link{padding:5px; background: #05a8d1; color: #fff; font-size: 0.9em}
.no_upd i{background-position:-423px -215px; width: 20px;
    height: 20px; display: inline-block; margin-right: 5px}
.navbar-right li{align-self: center}
.key_con p.mid{width:70%;margin: 0 auto}
.key-icn{background-color: #05a8d1; display: inline-block; width:82px; height: 82px; border-radius: 50%}
.key-icn1{background-position: -4px -324px}
.key-icn2{background-position: -94px -324px}
.key-icn3{background-position: -184px -324px}
.key-icn4{background-position: -274px -324px}
.bgwhite{background: #fff}
.bggrey{background: #f9f9f9}
.img_con.lt picture{position: absolute; left:0}
.ben_con{min-height: 370px}
.ben_con.lt picture{height: 300px; overflow: hidden; box-shadow: 3px 3px 13px #d4d4d4}
.img_con.rt picture.sh{position: absolute; right:0; box-shadow: 3px 3px 13px #d4d4d4}
.guar-sec{padding:50px 150px 0; text-align: center; font-size:1.3em}
.guar-sec ul{display:flex; justify-content: center}
.guar-sec ul li i{background-color:  #05a8d1; font-weight: 600; display: inline-block; border-radius: 50%;min-width:80px;max-width:80px; height: 80px; margin-bottom: 1em}
.guar-sec ul li:nth-child(1) i{background-position: -8px -249px}
.guar-sec ul li:nth-child(2) i{background-position: -88px -248px}
.guar-sec ul li:nth-child(3) i{background-position: -166px -248px}
.guar-sec ul li{ padding:35px; }
.no_sec .container{display: flex; justify-content: center}
.no_sec a, .no_sec a:hover, .no_sec a:link{text-decoration: none; font-weight: 600; font-size:1.3em; padding:0 5px; color:#05a8d1}
.no_sec{background: #f9f9f9; font-weight: 600;
    width: 100%; font-size:1.2em;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    padding: 10px 10px 0;
    margin-bottom: 10px
}
.no_sec.white{background: #fff}
.md_work{padding:30px 0}
.md_work .one, .md_work .five, .md_work .two{ color:#fff; height:204px; border-radius:6px; padding:10px; text-align:center;
    box-shadow: 2px 3px 15px #d4d4d4}
.md_work i{width: 46px; height: 46px;  display: block;
    margin: 25px auto}
.md_work .one i{background-position: -401px -150px}
.md_work .five i{background-position: -455px -150px; }
.md_work .two i{background-position: -509px -150px}
.md_work p{font-size: 1.3em; font-weight: 600;
    line-height: 1.4em}
.one{background: rgba(152,217,158,1);
background: -moz-linear-gradient(-45deg, rgba(152,217,158,1) 0%, rgba(113,193,119,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(152,217,158,1)), color-stop(100%, rgba(113,193,119,1)));
background: -webkit-linear-gradient(-45deg, rgba(152,217,158,1) 0%, rgba(113,193,119,1) 100%);
background: linear-gradient(135deg, rgba(152,217,158,1) 0%, rgba(113,193,119,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#98d99e', endColorstr='#71c177', GradientType=1 )}
.two{background: rgba(145,218,255,1);
background: -moz-linear-gradient(-45deg, rgba(145,218,255,1) 0%, rgba(128,183,255,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(145,218,255,1)), color-stop(100%, rgba(128,183,255,1)));
background: -webkit-linear-gradient(-45deg, rgba(145,218,255,1) 0%, rgba(128,183,255,1) 100%);
background: linear-gradient(135deg, rgba(145,218,255,1) 0%, rgba(128,183,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91daff', endColorstr='#80b7ff', GradientType=1 )}
.three{background: rgba(205,127,229,1);
background: -moz-linear-gradient(-45deg, rgba(205,127,229,1) 0%, rgba(100,83,169,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(205,127,229,1)), color-stop(100%, rgba(100,83,169,1)));
background: -webkit-linear-gradient(-45deg, rgba(205,127,229,1) 0%, rgba(100,83,169,1) 100%);
background: linear-gradient(135deg, rgba(205,127,229,1) 0%, rgba(100,83,169,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cd7fe5', endColorstr='#6453a9', GradientType=1 )}
.four{background: rgba(247,140,160,1);
background: -moz-linear-gradient(-45deg, rgba(247,140,160,1) 0%, rgba(249,116,143,1) 17%, rgba(253,134,140,1) 54%, rgba(254,154,139,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(247,140,160,1)), color-stop(17%, rgba(249,116,143,1)), color-stop(54%, rgba(253,134,140,1)), color-stop(100%, rgba(254,154,139,1)));
background: -webkit-linear-gradient(-45deg, rgba(247,140,160,1) 0%, rgba(249,116,143,1) 17%, rgba(253,134,140,1) 54%, rgba(254,154,139,1) 100%);
background: linear-gradient(135deg, rgba(247,140,160,1) 0%, rgba(249,116,143,1) 17%, rgba(253,134,140,1) 54%, rgba(254,154,139,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f78ca0', endColorstr='#fe9a8b', GradientType=1 )}
.five{background: rgba(166,161,255,1);
background: -moz-linear-gradient(left, rgba(166,161,255,1) 0%, rgba(116,124,253,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(166,161,255,1)), color-stop(100%, rgba(116,124,253,1)));
background: -webkit-linear-gradient(left, rgba(166,161,255,1) 0%, rgba(116,124,253,1) 100%);
background: linear-gradient(to right, rgba(166,161,255,1) 0%, rgba(116,124,253,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6a1ff', endColorstr='#747cfd', GradientType=1 )}
.six, .six:visited, .six:focus, .six:active{background: rgba(239,85,137,1);
background: -moz-linear-gradient(left, rgba(239,85,137,1) 0%, rgba(243,116,167,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(239,85,137,1)), color-stop(100%, rgba(243,116,167,1)));
background: -webkit-linear-gradient(left, rgba(239,85,137,1) 0%, rgba(243,116,167,1) 100%);
background: -o-linear-gradient(left, rgba(239,85,137,1) 0%, rgba(243,116,167,1) 100%);
background: -ms-linear-gradient(left, rgba(239,85,137,1) 0%, rgba(243,116,167,1) 100%);
background: linear-gradient(to right, rgba(239,85,137,1) 0%, rgba(243,116,167,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef5589', endColorstr='#f374a7', GradientType=1 )}
.btn_pink, .btn_pink:hover, .btn_pink:visited, .btn_pink:focus, .btn_pink:active{font-size:16px; box-shadow: none; text-transform: uppercase;width: 50%; border:0; border-radius: 0; padding:10px; color: #fff !important; display: block;margin: 20px auto;min-width: 150px}
.why_sec{background:#f8f6ff; padding-bottom: 3em}
.why_sec.rt picture{right:30px; position: absolute}
.el_sec, .doc_sec{background:#f8f6ff; padding-top: 2em}
.doc_sec{background:#f8f6ff; padding: 5em 0 0 0}
.why_sec:before, .doc_sec:after{content:''; background:url('../images/_why.png') no-repeat #f8f6ff; width:100%; height: 210px; display: block}
.why_sec h4, .el_sec h4{line-height: 1.5em; font-size: 1.5em; font-weight: 400;padding: 0.5em 0}
.why_sec li, .el_sec li{padding-bottom: 10px}
.el_sec picture{margin-top: -80px; display: block}
.calc__con{border-radius: 2px}
.doc_sec:after {
    transform: rotate(180deg);
    position: relative}

.doc_sec picture{
position: absolute;
    left: 0;
    z-index: 9;
    top: -93px;
    transform: rotate(1.4deg)}
.med_con.rt picture{position: absolute;  left: 0; top:-20px}
.surr_proc ul li p{color:#909090; line-height: 1.5em}
.surr_proc ul li {
    background: #fcfcfc;
    color: #333;
    width: 325px;
    height: 280px;
    float: left;
    margin-right: 15px;
    padding: 10px 15px;
    border: 1px solid #eaeaea}
.footer-banner-form {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 50px;
    background-color: rgba(0,173,239,0.9);
    z-index: 1;
    height: auto}
.text-white, .text-white:link, .text-white:hover{color:#fff}
.med_loan_wrk{padding:40px 0}
.fin_emi{padding:15px; margin-top:15px; border-radius: 6px; color:#fff}
#thnx_pop h4{font-weight: 400}
.fin_emi .row:nth-child(1):after, .fin_emi .row:nth-child(2):after{border-bottom:1px solid #c0befb;     width: 50%;
    display: block; padding-top: 15px; margin:0 auto}
.fin_emi .col-md-7:before{background: url('../images/sprite.png') -315px -266px; margin-right: 5px; 
    min-width: 20px;
    height: auto; content: ''}
.fin_emi label{opacity: 0.8; font-weight: 400; line-height: normal}
.emi_con .fin_emi input[type=text]{font-size: 1.5em; padding:5px 0}
.med_loan{margin:10px 0 40px}
.med_loan picture{overflow: hidden; width: 34%;height: 390px;box-shadow: 3px 3px 9px #d4d4d4}
.surr_proc ul li h3{font-size:20px; text-transform: uppercase;margin-top: 15px}
.surr_proc ul li .li_wrap span, .surr_proc ul li span{font-size: 28px;
   padding: 15px 15px 0 0}
.surr_proc ul li .li_wrap:before{font-size:18px}
.surr_proc ul li .li_wrap{display: flex}
.flot_li p{text-align: center}
.flot_li{display: inline-block; padding-left: 0 }
.flot_li .one{margin:105px 15px 15px}
.flot_li .two{margin:25px 15px 15px}
.flot_li .three{margin:265px 0 15px 15px}
.flot_li .four{margin:-85px 10px 15px}
.flot_li .five{margin:-125px 5px 15px 25px}
.flot_li li{    min-height: 240px;
    float: left;
    border-radius: 6px;
    width: 230px; box-shadow: 0 0 20px #dadada;
    padding: 0 5px 15px 5px;
    color: #fff;    font-size: 0.95em;
    }
.flot_li .li_wrap h4{color: #fff;
    text-transform: uppercase;
    line-height: 1.4em; font-size: 1.35em}
.flot_li .li_wrap{display: flex; padding:0 10px;
    align-items: center; height: 90px}
.flot_li li span{font-size: 7em; color:#000;
    opacity: 0.08;
    padding: 35px 8px 45px 0;
    font-weight: 600;
    margin-left: -15px}
#new-footer-logo {
  background: url(../images/sprite.png);
    background-repeat: no-repeat;
    height: 50px;
    width: 140px;
    background-position: -100px -102px}
.surr_proc ul li span{float:left}
.cont_div li{}
.new-footer-grey {
    line-height: normal;
    background: #222;
    color: #cdcdcd;
    padding: 25px 0 15px;
    font-size: 11px;margin: 0 0 -23px 0}
.grey-hr {
    border-color: #454545;
    margin: 7px auto}
.gray_footer_third_part h4, .trusted_cont h4 {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    text-align: center;
    margin-top: 0}
#new-footer-last-div-ul {
    padding: 0;
    margin-left: 0}
#new-footer-last-div-ul li {
    padding: 0;
    display: inline-block}
#new-footer-last-div-ul li:after {
    content: '|';
    margin: 0 3px}
.new-footer-grey ul li a {
    color: #cdcdcd;
    font-size: 11px}
.gray_footer_first_part {
    flex-basis: 25%}
.gray_about_path {
    margin-left: 50px}

.gray_footer_second_part {
    flex-basis: 12.5%}
.gray_footer_third_part {
    flex-basis: 25%; margin-left: 4%}
.gray_links_heading {
    text-transform: uppercase;
    font-size: 16px;
    position: relative;
    color: #fff}
.gray_links_heading::after {
    position: absolute;
    content: '';
    height: 1px;
    bottom: -10px;
    left: 0;
    right: 0;
    width: 58%;
    background: #fff;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s}
.gray_links_heading+ul {
    padding: 0;
    margin-top: 30px}
.gray_links_heading+ul li {
    margin-bottom: 7px;
    line-height: normal}
.new-footer-grey ul li:last-child.last::after{display: none}
.new-footer-grey ul li a {
    color: #cdcdcd;
    font-size: 11px;
    text-decoration: none}
.gray_footer_third_part .certified_first_ul li:first-child {
    background-position: -90px -1px}
.gray_footer_third_part .certified_first_ul li:nth-child(2) {
    background-position: -5px -1px}
.gray_footer_third_part .certified_first_ul li:nth-child(3) {
    background-position: -236px -1px}
.flex-center {
    display: flex!important;
    align-items: center;
    justify-content: center}
.footer_social_links {
    flex-basis: 70%}
.trusted_links a:nth-child(1) li {
    background-position: -10px -415px}

.trusted_links li {
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    height: 34px;
    width: 34px;
    margin: 5px 4px 5px 0}
.trusted_links a:nth-child(2) li {
    background-position: -63px -415px}
.trusted_links a:nth-child(3) li {
    background-position: -260px -415px}
.trusted_links a:nth-child(4) li {
    background-position: -308px -415px}
.gray_line_cont div:first-child {
    flex-basis: 25%;
    color: #cdcdcd}
.gray_line_cont div:nth-child(2) {
    margin-left: 25%;
    flex-basis: 50%;
    text-align: center;
    color: #cdcdcd}
.footer_social_links div {
    background-image: url('../images/sprite.png');
    background-repeat: no-repeat;
    height: 34px;
    width: 34px;
    margin: 5px 4px 5px 0;
    cursor: pointer}
.footer_social_links div:first-child {
    background-position: -18px -209px}
.footer_social_links div:nth-child(2) {
    background-position: -67px -209px}
.footer_social_links div:nth-child(3) {
    background-position: -115px -209px}
.footer_social_links div:nth-child(4) {
    background-position: -163px -209px}
.footer_social_links div:nth-child(5) {
    background-position: -212px -209px}
.footer_social_links div:nth-child(6) {
    background-position: -262px -209px}
.footer_social_links div:nth-child(7) {
    background-position: -310px -209px}
.footer_social_links div:nth-child(8) {
    background-position: -357px -209px}
#footer_form{margin-top: 0em}
.htmax42 {
    max-height: 42px;
    background: #fff}
.col-flex {
    flex-direction: column}
.footer-banner {
    background: url(../images/13.jpg);
    background-size: cover;
    min-height: 350px;
    background-repeat: no-repeat;
    position: relative}
.footer-banner-form h4 {
    width: 100%;
    text-align: left;
    font-size: 1.6em;
    font-weight: 400;
    color: #fff}
.form_con input[type="text"] {
    box-shadow: none;
    border:1px solid #dadada;
    width: 100%;
    height: 45px}
.trusted_cont {
    flex-basis: 30%;
    margin-top: -25px}
.gray_footer_third_part .certified_first_ul li, .gray_footer_third_part .certified_second_ul li {
    min-width: 80px;
    cursor: pointer;
    height: 85px;
    border-radius: 50%;
    margin: 15px;
    background: url('../images/sprite.png');
    background-repeat: no-repeat;
    transform: scale(.9)}
.gray_footer_third_part ul.flex-center{
    padding: 0;
    margin-top: -15px; justify-content: right;}
.emi_con{padding:20px 30px 0; background: #f4f4f4; border-radius: 6px; color:#555}
.emi_con h2{color:#898cfe; margin:0 0 30px }
.emi_con .display-flex select{width:42%; color: #555; border-radius: 2px 0 0 2px;
    box-shadow: none;padding: 5px}
.emi_con .lw{width: 1px; height: 20px;
    background: #999; margin-top: 8px}
.emi_con .display-flex input[type="text"]{border-radius: 0 2px 2px 0;    box-shadow: none}
.clr_blk{color:#111;}
.emi_con input[type="text"], .emi_con select{font-size: 0.9em;border-radius: 2px; padding:5px 15px; border:none; height: 40px}
.coq ul.list-styled li:before{content:''; border-radius: 50%; width: 7px; height: 7px; display: inline-block; background: #adadad; margin-right: 15px}
.coq{z-index: 2; position: relative}
.coq h2{ font-size: 3em; width:50%; margin: -40px 0 20px}
.slidecontainer {
  width: 100%; 
}
.comma_icn{padding-right:5px}

.slider {
  -webkit-appearance: none; 
  appearance: none;
  width: 100%;
  height: 5px;
  background: rgba(166,161,255,1);
  background: -moz-linear-gradient(left, rgba(166,161,255,1) 0%, rgba(116,124,253,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(166,161,255,1)), color-stop(100%, rgba(116,124,253,1)));
  background: -webkit-linear-gradient(left, rgba(166,161,255,1) 0%, rgba(116,124,253,1) 100%);
  background: linear-gradient(to right, rgba(166,161,255,1) 0%, rgba(116,124,253,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6a1ff', endColorstr='#747cfd', GradientType=1 );
  outline: none; 
  opacity: 0.7; 
  -webkit-transition: .2s; 
  transition: opacity .2s;
  border-radius: 6px}

.slider:hover {
  opacity: 1}

.slider::-webkit-slider-thumb {
-webkit-appearance: none; 
appearance: none;
width: 15px; 
height: 15px;
border-radius: 50%;
background: rgba(239,85,137,1);
background: -moz-linear-gradient(left, rgba(239,85,137,1) 0%, rgba(243,116,167,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(239,85,137,1)), color-stop(100%, rgba(243,116,167,1)));
background: -webkit-linear-gradient(left, rgba(239,85,137,1) 0%, rgba(243,116,167,1) 100%);
background: -o-linear-gradient(left, rgba(239,85,137,1) 0%, rgba(243,116,167,1) 100%);
background: -ms-linear-gradient(left, rgba(239,85,137,1) 0%, rgba(243,116,167,1) 100%);
background: linear-gradient(to right, rgba(239,85,137,1) 0%, rgba(243,116,167,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef5589', endColorstr='#f374a7', GradientType=1 );
  cursor: pointer; 
}

.slider::-moz-range-thumb {
  width: 25px; 
  height: 25px;
  background: #4CAF50;
  cursor: pointer; 
}
.brdr_text_inp{background: none; width:100%; border-bottom: 1px solid #fff !important!}
.ques_ans span {
    font-weight: bold;
    display: block}
.crdt_scr:before{margin-top: -50px}
.tabl_cus{margin:25px 100px}
.tabl_cus .table>thead>tr>th, .tabl_cus .table>tbody>tr>td{border-top: 1px solid #f7f7f7;border-left: none;border-right: none;border-bottom: 1px solid #f7f7f7; padding:20px; font-weight: normal; }
.tabl_cus .table>thead>tr>th:first-child, .tabl_cus .table>tbody>tr>td:first-child{border-right: 1px solid #f7f7f7}
.tabl_cus .table tr:last-of-type>td{border-bottom:none}
.tabl_cus .table{border:1px solid #d7d7d7}
.tabl_cus .table td{font-size: 0.95em}
.bg_img_sec{padding:50px 0; background: url('../images/12.jpg') no-repeat 0 0; color: #fff}
#people_review_section_nw .new_card {
    background: none;
    box-shadow: none;
    height: auto}

#people_review_section_nw .new_card_cont_img img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin: 0 auto auto}
.people_rating {
    min-width: 75px;
    min-height: 13px;
    display: inline-block;
    margin: 0 auto;
    display: block;
    background-position: -96px -975px !important!}
#people_review_section_nw .title {
    padding-bottom: 5px}
#people_review_section_nw .people_text {
    text-align: left;
    padding: 0}
input[type="text"].on_val{
background: none;
    font-size: 24px;
    color: #f6699c;
    font-weight: 600;
    width: 100%;
    float: right;
    text-align: right;
}
.people_text {
    font-style: italic;
    font-size: 13px;
    display: block;

}
.frst-rev .people_text:after {
    content: "Posted on: Sep. 2, 2018, 4:14 p.m.";
    display: block}
.sec-rev .people_text:after {
    content: "Posted on: Aug. 14, 2018, 3:05 p.m.";
    display: block}
.third-rev .people_text:after {
    content: "Posted on: Jul. 2, 2018, 01:55 p.m.";
    display: block}
.four-rev .people_text:after {
    content: "Posted on: Jun. 17, 2018, 5:20 p.m.";
    display: block}
.people_text:after {
    display: block;
    font-size: 11px;
    font-style: normal;
    color: #a9a7a7;
    position: relative;
    bottom: -5px;
    left: 0;
    text-align: left;
    width: 100%}
.new_people_rating{width: 70px; height: 15px; float:left;    background-position: -20px -114px}


@media(min-width: 1025px){
#people_review_section_nw .title {
    margin-left: -28px}
.comma_icn {
    position: relative;
    margin: 0 -30px;
    float: left}
}

@media (width: 1024px), (width:1024px) and (orientation: landscape){
    .ben_con.lt picture{left:-13vw}
    .guar-sec ul li{padding: 35px 15px; min-width: 32%}
    .navbar-header{align-items: center;  width: auto;  float: left}
    .nav-cus, .nav-cus .nav{width: auto}
    .ben_con{background: #fff; width: 100%}
    .container{width: 100%}
    .ben_con li{width: 48%; float: left;  padding: 5px 0}
    .why_sec.rt picture img, .el_sec.rt picture img, .doc_sec.lt picture img{top: 30px;
    position: relative}
    .tik_calc h2{text-align: center}
    .tik_hlp .row .col-md-7{order:0 !important;}
    .banner .container{padding:0 15px !important;}
}

@media (width: 768px), (width:1024px), (width:1024px) and (orientation: landscape){
    .banner{background-size: cover !important}
    .banner .container{padding:0}
    .navbar-header{margin: 0 auto; width: 100%}
    .navbar-right{width: 90vw;  justify-content: center}
    .no_upd.top{display: none}
/*    .nav-cus, .nav-cus .nav{width: 92vw}
*/    .med_loan h2, .med_work h2{background-position: 0 -140px !important; }
    .ben_con h2, .med_loan h2, .med_work h2, .bg_img_sec{background-size: cover !important; min-height: 230px;}
    .bg_img_sec{padding:0 !important; background: url('../images/tab/9.jpg') no-repeat 0 0 !important;}
    .med_work h2{background: url('../images/tab/8.jpg') no-repeat 0 0 !important;}
    .med_loan h2{background: url('../images/tab/7.jpg') no-repeat 0 0 !important;}
    .footer-banner{background: url('../images/tab/fot.jpg') no-repeat 0 0 !important; background-size: cover !important;
    min-height: 430px !important;}
    .guar-sec ul li{flex-direction: column;
    align-items: center;
    max-width: 35%;
    float: left;
    margin-right: 5px;
}
.new-footer-grey .container {
    width: 100%;
    display: inline-block;
}
 .new_people_rating{position: relative; top: -70px; left: 140px}
.flot_li li{width: calc(50% - 75px) !important!}
.surr_proc ul li{height: auto}
.guar-sec ul li{padding: 15px 4px !important}
.guar-sec ul li p{text-align: center; padding:15px 0 0 0 !important;}
.md_work h2{text-align: center}
.med_con.rt picture{left:-25px !important; height: 260px !important!}
.gray_footer_third_part ._cer_{display: block;
    margin: 0 auto; text-align: center}
.gray_footer_third_part ul.flex-center{justify-content: center;margin: 0 auto}
.gray_footer_third_part .certified_second_ul:nth-child(2) li{margin: 15px}
.gray_footer_third_part{margin-left: 0 }
.gray_line_cont{    display: block !important;  padding-top: 10px !important; text-align: center}
.flot_li li{min-height:inherit;}
.tik_hlp .row{display: inherit !important;}
.tik_hlp.lt picture{    margin-top: -5px;}
.footer-banner-form .form-ty h6 {padding:0}
.footer-banner-form .form-ty {
    margin: 20px 0 20px !important; min-height: 155px !important;
}

}

@media (orientation: landscape) and (max-width: 850px){
.banner{max-height:none;background-size: cover !important;}
.banner .form_con{max-height: 300px}
.no_upd{display: none}
.navbar-header {align-items: center; margin: 0 auto; width: 100%}
.navbar-header .navbar-brand {margin: 0 auto}
.med_loan h2, .med_work h2,.bg_img_sec{padding: 100px 15px 15px; min-height: 230px;background-position: 0 -140px !important; background-size: cover !important;}
.surr_proc ul li {height: auto}
.gray_footer_third_part ._cer_{display: flex;}
.gray_footer_third_part .certified_second_ul:nth-child(2) li{margin: 15px}
.gray_footer_third_part ul{margin: 0 auto}
.gray_line_cont{    display: block !important;  padding-top: 10px !important; text-align: center}
.new_people_rating{right: -11vw !important}
.footer-banner-form .form-ty h6 {padding:0}
.footer-banner-form .form-ty {
    margin: 20px 0 20px !important; min-height: 150px !important;
}

}

@media (max-width: 1024px) and (orientation: portrait), (max-width: 767px) and (orientation: landscape), (orientation: landscape) and (max-width: 850px), (width:1024px) and (orientation: landscape){
.f_hlf{font-size: 2.2em}
.fr_hlf{font-size: 1.7em}
.md_work .mt50, .tabl_cus{margin:0 0 10px}
.br_t_b{border-top:1px solid #e4e4e4; border-bottom:1px solid #e4e4e4}
.bgr_wh{background: #fff}
.mr_0{margin: 0}
.mr_lr15{margin:0 15px}
.pr_b15{padding-bottom:15px}
.guar-sec p{font-size: 1.1em}
.ben_con{padding:0 0 5px}
.med_loan{padding:0; margin: 0 0 -10px}
.emi_con .fin_emi input[type=text]{font-size: 1.7em; padding:5px;}
.ben_con .container, .med_loan .container{background: #fff;border-bottom:1px solid #e4e4e4; margin-bottom: 10px}
.pr_0{padding:0}
.text_content{text-align: center}
.text_content p{font-size:1.7rem; padding-left:25px; padding-right:25px}
.text_content a{font-size:2.1rem;}
.ben_con h2{background: url('../images/mob/1.jpg') no-repeat 0 0; background-size: cover }
.med_loan h2{background: url('../images/mob/4.jpg') no-repeat 0 0; background-size: cover }
.med_work h2{background: url('../images/mob/5.jpg') no-repeat 0 0; background-size: cover }
.med_loan h2 , .med_work h2{padding:100px 15px 15px; text-align: center; color: #fff; margin-top:0px; box-shadow: 0 6px 10px #dadada}
.emi_con .col-md-6, .new_card_cont_img{margin-bottom:10px}
.emi-con #form_name, .emi-con #country_code, .emi-con #form_phone{border:1px solid #dedede; box-shadow: none !important!}
.lw{display: none}
.gray_footer_third_part ul.flex-center{margin: -15px 0 0 -15px;}
.tik_calc.mt30{margin-top:0 !important }
.emi-con .row.ptb10 .col-md-9{order:1}
.emi-con .row.ptb10 .col-md-3 input{width:60%; float:right;font-size: 1.8em}
.emi-con .row.ptb10{display: flex; flex-direction: column}
.ben_con h2{padding:100px 15px 15px; text-align: center; color: #fff; margin-top:10px; box-shadow: 0 6px 10px #dadada}
.key_con p, .why_sec, h4{font-size: 1.5rem !important!}
.emi_con{border-radius: 0; padding:15px; background: none}
.doc_sec h5{font-size: 1.8rem; line-height: 2.2rem;
    font-weight: 400}
.footer-banner-form .form-ty {
    margin: 20px 0 20px; min-height: 250px;
}
ul li{font-size: 1.5rem; line-height: 2.2rem !important!}
.crdt_scr .col-md-5{padding-top:20px}
.why_sec:before, .doc_sec:after{display: none}    
.md_work .one, .md_work .five, .md_work .two{ min-height: 180px;
    display: block;
    margin: 15px auto; height: auto}
.why_sec h2, .el_sec h2, .med_loan_wrk{ text-align: center; }
.fin_emi .row:nth-child(1):after, .fin_emi .row:nth-child(2):after{width:100%}
.med_loan_wrk h3{margin: 0 0 10px}
.med_loan_wrk h3{margin: 0 0 10px}
.med_loan_wrk .text-bold, .tik_hlp p{text-align: left}
.footer-banner .form_con input, .footer-banner .form_con select, .footer-banner .form_con button{border-radius: 0; height: 35px; padding:0 5px}
.footer-banner .form_con select{background: #ebebeb}
.footer-banner .form_con{
    background: rgba(0,0,0,0.4) !important;
    position: relative;
    display: block !important;
    padding: 0;
    margin: 165px 20px 0;
    width: calc(100vw - 40px);
    padding: 20px 20px 0 20px
}

.slideleft-modal {
    transform: translate(150%,0);
}

.slideleft-modal, .slideleft-modal.active{
    transition: all .75s ease-in-out;
    display: block;
}
.slideleft-modal.active{
    transform: translate(0%,0);
    z-index: 9999;
}
.slideleft-modal, .slideright-modal, .slideup-modal {
    background: #fff;
    top: 0;
    bottom: 0;
    height: 100%;
    z-index: 10000;
    overflow: scroll;
    width: 100%;
    position: fixed;
    transition: all .75s ease-in-out;
    box-shadow: none;
    border: none;
}
.blue-bg {
    background: #05a8d1;
}
.modal-back {
    background: url(../images/sprite.png) -346px -271px;
    width: 30px;
    height: 30px;
    float: left;
    margin: 15px 0 0 15px;
}
.modal-close {
    background: url(../images/sprite.png) -380px -271px;
    width: 30px;
    height: 30px;
    float: right;
    margin: 15px 15px 0 0;
}
#footer_rt_modal_mob.active {
    opacity: 1 !important;
}
#footer_rt_modal_mob .modal-header {
    flex-basis: 80%;
    color: #fff;
    font-size: 16px;
    text-align: center;
    margin: 5px 0 20px;
    border-bottom: none;
}
#footer_rt_modal_mob .modal-content {
    height: 68vh;
    padding: 10px;
    box-shadow: none;
    border-radius: 0;
    border:none;
}
.certificates_content {
    text-align: center;
    font-size: 13px;
    margin-top: 25px;
}
.certificate_btn {
    border-bottom: none;
}
.certificate_last_line {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    border-top: 1px solid;
    padding-top: 15px;
}

.footer-banner .form_con p{line-height: normal}
.footer-banner{background: url('../images/mob/8.jpg') no-repeat;
    background-size: cover; min-height: auto;
    float: left}
.btn_pink{width: 100% !important; border-radius: 0; height: 50px; margin: 20px auto 0 !important; box-shadow: 0 0 10px #d4d4d4; display: block;}
.coq h2{width: 100%; font-size: 2em; margin-top:1em }
ul li{ text-align: left; }
.surr_proc ul{margin: 0; padding: 0}
.surr_proc ul li{ width: 100%; margin-bottom: 15px; background: #fff; box-shadow: 0 0 10px #eee}
.why_sec.rt picture{position: relative; right: 0; left:-15px; margin-top:-45px; display: block}
.tik_hlp.lt picture{position: relative; right: 0; left:-15px; margin-top:-45px; display: block; top:0}
.tabl_cus .table>thead>tr>th, .tabl_cus .table>tbody>tr>td{white-space: pre-wrap; min-width: 200px;padding: 15px}
.bg_img_sec{background: url(../images/mob/9.jpg) no-repeat; padding:50px 0 0 0;}
.review_text{display: flex}
.new-footer-grey ul li a{color:#fff !important!}
.gray_footer_second_part.active ul{display: block}
#people_review_section_nw .title{padding-top:28px}
.m_ordr{flex-flow: column; display: flex !important;}
.footer_social_links {order:1; padding-top:0;}

.new_people_rating{right: -23vw;position: absolute;
    top: 12px}
.med_con.rt picture{    position: relative;
    right: 0;
    left: -15px;
    margin-top: 0;
    display: block;
    margin-bottom: -10px;
    overflow: hidden;
    box-shadow: -5px 0 20px #d4d4d4;
    width: 100vw;
    height: 150px}
.why_sec.rt picture img, .el_sec.rt picture img, .doc_sec.lt picture img{max-width: 90%}
.med_con.rt picture img{max-width: 100%}
.med_con .row, .med_con .row, .tik_hlp .row{display: flex; flex-direction: column}
.med_con .row .col-lg-7, .tik_hlp .row .col-md-7{order:1}
.why_sec{background: none; border-top:10px #f9f9f9 solid; padding-bottom:0}
.why_sec .container{border-top:1px #e4e4e4 solid}
#wrapper{padding:0}
.no_sec .container{display: block;padding-bottom: 10px}
.no_sec, .box{background: #fff; border-top:10px solid #f9f9f9; border-bottom:10px solid #f9f9f9; text-align: center; padding: 0; margin: 0}
.no_sec:before{content: ''; border-top:1px solid #d4d4d4; width: 100%;display: block;padding-bottom:15px}
.no_sec:after{content: ''; border-top:1px solid #d4d4d4; width: 100%;display: block}
.med_con{overflow: hidden}
.med_con.box{border-bottom:0}
.guar-sec h2{font-size: 1.4em; padding:5px}
.guar-sec ul{display: block}
.guar-sec ul li p{padding:15px 0 0 15px }
.guar-sec ul li{display: flex;    padding: 15px 0;
    text-align: left}
.key_con p.mid{width: 100%; padding:0 15px}
.white_btn{background: #05a8d1; color: #fff}
.form_con{background: #f9f9f9; color: #555; text-align: center; border-bottom:0; height: auto}
.banner .text-left{background: rgba(5,168,209, 0.8); padding:15px; position: relative; margin-top: 130px}
.banner .col-md-8{padding:0}
.banner h1 { text-align: center;
    line-height: normal;margin-top: 0;
    text-shadow: none;
    font-size: 1.5em}
.flot_li li{ margin: 0 15px 15px 45px !important;
    width: calc(100% - 75px);
    display: block}
.med_loan_wrk{padding-bottom: 0}
.banner ul li {
    line-height: 2em;
    font-size: 1em;
    text-shadow: none;
    display: flex}
.gray_line_cont div:nth-child(2), #new-footer-last-div-ul{margin-left: 0}
#new-footer-last-div-ul li a {
    color: gray !important;font-size: 0.9em}
.banner{
    background: url(../images/banner_mob.jpg) no-repeat 0 0;
    text-shadow: none;
    color: #fff; max-height: 770px;
    background-position: top left}
.ben_con img{display:none}
.guar-sec{padding:0}

.new-footer-grey {
    background: #f8f8f8;
    padding-bottom: 0;
    padding-top: 0}
.new-footer-grey .container {
    width: 100%;
    padding: 0; margin: 0}
.new-footer-grey>div>div {
    display: block}
.trusted_cont {
    text-align: center;
    width: 100%;
    margin-top: 0;
    background: #f8f8f8}
.gray_footer_first_part {
    background: #f8f8f8;
    padding: 15px}
.gray_footer_first_part>div a {
    width: 100%}
.footer_social_links {
    display: flex!important;
    align-items: center;
    justify-content: center;
}
#new-footer-logo {
    background: url(../images/sprite.png);
    background-repeat: no-repeat;
    background-position: -239px -90px;
    width: 120px;
    margin: 0 auto}
.new-footer-about-text {
    color: #333;
    margin-top: 10px;
    text-align: justify}
.gray_about_path {
    margin-left: 0}
.gray_footer_second_part {
    background: #222}
.gray_about_path {
    margin-left: 0}
.gray_links_heading+ul{
    margin-top: 0;
    margin-bottom: 0;
    display: none}
.gray_links_heading, .gray_links_heading+ul li {
    position: relative;
    border-bottom: 1px solid #ebebeb;
    font-size: 14px;
    font-weight: 500;
    padding: 10px;
    display: block}
.active .gray_links_heading::after {
    content: "-"}
.gray_links_heading::after {
    content: "+";
    font-size: 18px;
    font-weight: 600;
    float: right;
    margin-top: -10px;
    position: relative;
    width: auto;
    background: none}
.gray_links_heading+ul li {
    border-bottom: 1px solid #8e8b8b; margin-bottom: 0}
.gray_footer_third_part h4 {
    color: #333;
    margin: 0}
.gray_footer_third_part {
    background: #f8f8f8;
    padding: 20px 0;}
.trusted_cont h4 {
    padding-left: 0;
    color: #333;
    margin-top: -15px}
.trusted_links {
    padding: 0}
.footer_social_links div:first-child {
    background-position: -14px -158px}
.footer_social_links div {
    height: 35px;
    width: 35px;
    margin: 0 4px 3px 0;
    position: relative;
    transform: scale(.8);

}
.footer_social_links div:first-child {
    background-position: -14px -158px}
.footer_social_links div:nth-child(2) {
    background-position: -60px -159px}
.footer_social_links div:nth-child(3) {
    background-position: -107px -159px}
.footer_social_links div:nth-child(4) {
    background-position: -151px -159px}
.footer_social_links div:nth-child(5) {
    background-position: -203px -160px}
.footer_social_links div:nth-child(6) {
    background-position: -251px -159px}
.footer_social_links div:nth-child(7) {
    background-position: -296px -158px}
.footer_social_links div:nth-child(8) {
    background-position: -341px -160px}
.gray_line_cont div:first-child, .gray_line_cont div:nth-child(2), .new-footer-grey ul li a {
    color: gray}
.grey-hr {
    display: none}
.navbar-header{padding:5px 15px}
.nav-cus, .nav-cus .nav{margin:0}
.navbar-header{align-items: center}
.navbar-header .navbar-brand{margin: 0 auto}
.no_upd.top{justify-content: right}
.nav-cus .navbar-toggle{padding:0}

}

@media(max-width: 767px){
.new-footer-grey{background: #f8f8f8}
.key_con h3{padding:0}
.gray_line_cont{
    padding: 15px 0 15px 0!important;
    margin-top: 40px;
    background: #f8f8f8;
    margin-bottom: 0;
    display: block;
    text-align: center;
    display: inline;
    top: 20px;
    position: relative;

}
.gray_links_heading+ul li {
    border-bottom: 1px solid #8e8b8b}
.footer_social_links div {
    transform: scale(.8);
    margin: 0 4px 3px 0}
.new-footer-grey .container{
    width: 100%;
    display: inline-block}
.gray_line_cont div:first-child, .gray_line_cont div:nth-child(2), .new-footer-grey ul li a {
    color: gray}
}

@media(max-width:360px){
    .banner ul li{line-height: 1.6rem; margin-bottom: 5px;}
    .banner h1{font-size: 2rem}
}